<!-- hero area start -->
<section class="hero-area" id="home">
    <div class="container">
        <div class="hero-area-slider">
            <ngb-carousel> 
                <ng-template ngbSlide> 
                    <div class="row hero-area-slide">
                    <div class="col-lg-6 col-md-5">
                    <div class="hero-area-content">
                        <img src="../assets/web/img/slide2.png" alt="about" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="hero-area-content pr-50">
                        <h2>BlackPink</h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>180k voters</h4>
                        </div>
                        <p>Black Pink (Hangul: 블랙핑크), stylized as BLACKPINK or BLΛƆKPIИK, is a South Korean girl group formed by YG
                            Entertainment, consisting of members Jisoo, Jennie, Lisa, and Rosé....</p>
                        <h3>Thành viên:</h3>
                        <div class="slide-cast">
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast1.png" alt="about" />
                            </div>
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast2.png" alt="about" />
                            </div>
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast3.png" alt="about" />
                            </div>
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast4.png" alt="about" />
                            </div>
                        </div>
                        <div class="slide-trailor">
                            <h3>Xem MV mới nhất</h3>
                            <a class="theme-btn theme-btn2" target="_blank" href="https://www.youtube.com/watch?v=IHNzOHi8sJs"><i class="icofont icofont-play"></i>
                                Xem</a>
                        </div>
                    </div>
                </div>
                    </div>
                </ng-template>                 
                <ng-template ngbSlide> 
                    <div class="row hero-area-slide">
                <div class="col-lg-6 col-md-5">
                    <div class="hero-area-content">
                        <img src="../assets/web/img/slide1.png" alt="about" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="hero-area-content pr-50">
                        <h2>Red Velvet</h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>180k voters</h4>
                        </div>
                        <p>Red Velvet (Hangul: 레드벨벳) is a South Korean girl group formed by SM Entertainment. The group debuted on
                            August 1, 2014, with their digital single "Happiness" and with four members: Irene, Seulgi, Wendy and Joy. In
                            March 2015, Red Velvet added a fifth member, Yeri, to the group...</p>
                        <h3>Member:</h3>
                        <div class="slide-cast">
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast1.png" alt="about" />
                            </div>
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast2.png" alt="about" />
                            </div>
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast3.png" alt="about" />
                            </div>
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast4.png" alt="about" />
                            </div>
                            <div class="single-slide-cast">
                                <img src="../assets/web/img/cast/cast5.png" alt="about" />
                            </div>
                        </div>
                        <div class="slide-trailor">
                            <h3>Watch Latest MV</h3>
                            <a class="theme-btn theme-btn2" target="_blank" href="https://www.youtube.com/watch?v=aiHSVQy9xN8"><i class="icofont icofont-play"></i>
                                Watch</a>
                        </div>
                    </div>
                </div>
                    </div>
                </ng-template> 
                <ng-template ngbSlide>
                    <div class="row hero-area-slide">
                                <div class="col-lg-6 col-md-5">
                                    <div class="hero-area-content">
                                        <img src="../assets/web/img/slide3.png" alt="about" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7">
                                    <div class="hero-area-content pr-50">
                                        <h2>Twice</h2>
                                        <div class="review">
                                            <div class="author-review">
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                                <i class="icofont icofont-star"></i>
                                            </div>
                                            <h4>180k voters</h4>
                                        </div>
                                        <p>Twice (Hangul: 트와이스; Japanese: トゥワイス) is a South Korean girl group formed by JYP Entertainment through the
                                            2015 reality show Sixteen. The group is composed of nine members: Nayeon, Jeongyeon, Momo, Sana, Jihyo, Mina,
                                            Dahyun, Chaeyoung, and Tzuyu. The group debuted on October 20, 2015, with the extended play (EP) The Story
                                            Begins...</p>
                                        <h3>Cast:</h3>
                                        <div class="slide-cast">
                                            <div class="single-slide-cast">
                                                <img src="../assets/web/img/cast/cast1.png" alt="about" />
                                            </div>
                                            <div class="single-slide-cast">
                                                <img src="../assets/web/img/cast/cast2.png" alt="about" />
                                            </div>
                                            <div class="single-slide-cast">
                                                <img src="../assets/web/img/cast/cast3.png" alt="about" />
                                            </div>
                                            <div class="single-slide-cast">
                                                <img src="../assets/web/img/cast/cast4.png" alt="about" />
                                            </div>
                                            <div class="single-slide-cast">
                                                <img src="../assets/web/img/cast/cast5.png" alt="about" />
                                            </div>
                                            <div class="single-slide-cast">
                                                <img src="../assets/web/img/cast/cast6.png" alt="about" />
                                            </div>
                                            <div class="single-slide-cast">
                                                <img src="../assets/web/img/cast/cast7.png" alt="about" />
                                            </div>
                                            <div class="single-slide-cast text-center">
                                                5+
                                            </div>
                                        </div>
                                        <div class="slide-trailor">
                                            <h3>Watch Latest MV</h3>
                                            <a class="theme-btn theme-btn2" target="_blank" href="https://www.youtube.com/watch?v=mAKsZ26SabQ&list=RDmAKsZ26SabQ&start_radio=1"><i
                                                 class="icofont icofont-play"></i> Watch</a>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </ng-template>
            </ngb-carousel> 
        </div>
        <!--<div class="hero-area-thumb">
            <div class="thumb-prev">
                <div class="row hero-area-slide">
                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <img src="../assets/web/img/slide3.png" alt="about" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>Last Avatar</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>She is a devil princess from the demon world. She grew up sheltered by her parents and doesn't really know
                                how to be evil or any of the common actions, She is unable to cry due to Keita's accidental first wish,
                                despite needed for him to wish...</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast2.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-next">
                <div class="row hero-area-slide">
                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <img src="../assets/web/img/slide1.png" alt="about" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>The Deer God</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                            <p>She is a devil princess from the demon world. She grew up sheltered by her parents and doesn't really know
                                how to be evil or any of the common actions, She is unable to cry due to Keita's accidental first wish,
                                despite needed for him to wish...</p>
                            <h3>Cast:</h3>
                            <div class="slide-cast">
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast1.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast2.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast3.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast4.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast5.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast6.png" alt="about" />
                                </div>
                                <div class="single-slide-cast">
                                    <img src="../assets/web/img/cast/cast7.png" alt="about" />
                                </div>
                                <div class="single-slide-cast text-center">
                                    5+
                                </div>
                            </div>
                            <div class="slide-trailor">
                                <h3>Watch Trailer</h3>
                                <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section><!-- hero area end -->
<!-- portfolio section start -->
<section class="portfolio-area pt-60">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="section-title">
                    <h1><i class="icofont icofont-movie"></i>TOP MV THÁNG NÀY</h1>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        <li data-filter="*" class="active">Mới nhất</li>
                        <li data-filter=".soon">Top yêu thích</li>
                        <li data-filter=".top">Top Rated</li>
                        <li data-filter=".released">Xắp ra mắt</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-9">
                <div class="row portfolio-item">
                    <div class="col-md-4 col-sm-6 soon released">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <img src="../assets/web/img/portfolio/portfolio1.png" alt="portfolio" />
                                <a href="../../www.youtube.com/watch?v=mAKsZ26SabQ" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h2>Yes Or Yes</h2>
                                <div class="review">
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4>180k voters</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 top">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <img src="../assets/web/img/portfolio/portfolio2.png" alt="portfolio" />
                                <a href="../../www.youtube.com/watch?v=IHNzOHi8sJs" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h2>DDU-DU DDU-DU</h2>
                                <div class="review">
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4>180k voters</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 soon">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <img src="../assets/web/img/portfolio/portfolio3.png" alt="portfolio" />
                                <a href="../../www.youtube.com/watch?v=_XyBa8QsVQU" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h2>T F T M N</h2>
                                <div class="review">
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4>180k voters</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 top released">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <img src="../assets/web/img/portfolio/portfolio4.png" alt="portfolio" />
                                <a href="../../www.youtube.com/watch?v=aiHSVQy9xN8" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h2>Power Up</h2>
                                <div class="review">
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4>180k voters</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 released">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <img src="../assets/web/img/portfolio/portfolio5.png" alt="portfolio" />
                                <a href="../../www.youtube.com/watch?v=JQGRg8XBnB4" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h2>BOOM BOOM</h2>
                                <div class="review">
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4>180k voters</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 soon top">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <img src="../assets/web/img/portfolio/portfolio6.png" alt="portfolio" />
                                <a href="../../www.youtube.com/watch?v=txWmd7QKFe8" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h2>BAMM</h2>
                                <div class="review">
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4>180k voters</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center text-lg-left">
                <div class="portfolio-sidebar">
                    <img src="../assets/web/img/sidebar/sidebar1.png" alt="sidebar" />
                    <img src="../assets/web/img/sidebar/sidebar2.png" alt="sidebar" />
                    <img src="../assets/web/img/sidebar/sidebar3.png" alt="sidebar" />
                    <img src="../assets/web/img/sidebar/sidebar4.png" alt="sidebar" />
                </div>
            </div>
        </div>
    </div>
</section><!-- portfolio section end -->
<!-- video section start -->
<section class="video ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1><i class="icofont icofont-film"></i> Fancam & Videos</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <div class="video-area">
                    <img src="../assets/web/img/video/video1.png" alt="video" />
                    <a href="../../www.youtube.com/watch?v=qaAkvzLSg0s" class="popup-youtube">
                        <i class="icofont icofont-ui-play"></i>
                    </a>
                    <div class="video-text">
                        <h2>K/DA - POP/STARS Dance - Behind the Scenes</h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>180k voters</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img src="../assets/web/img/video/video2.png" alt="video" />
                            <a href="../../www.youtube.com/watch?v=4gNVy7yoBSQ" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img src="../assets/web/img/video/video3.png" alt="video" />
                            <a href="../../www.youtube.com/watch?v=ECF4CQ8yABs" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- video section end -->
<!-- news section start -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1><i class="icofont icofont-coffee-cup"></i>Tin tức mới nhất</h1>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="news-slide-area">
        <div class="news-slider">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="single-news">
                        <div class="news-bg-2"></div>
                        <div class="news-date">
                            <h2><span>SEP</span> 15</h2>
                            <h1>2018</h1>
                        </div>
                        <div class="news-content">
                            <h2>Gfriend Comeback</h2>
                            <p>GFriend 0801 쇼케이스 GFriend in August 2017 From left to right: Sowon, Eunha, Yerin, SinB, Umji, and Yuju
                                Background information Origin Seoul</p>
                        </div>
                        <a href="#">Read More</a>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="single-news">
                                <div class="news-bg-1"></div>
                                <div class="news-date">
                                    <h2><span>NOV</span> 25</h2>
                                    <h1>2018</h1>
                                </div>
                                <div class="news-content">
                                    <h2>MAMAMOO Comeback</h2>
                                    <p>Mamamoo (Hangul: 마마무), sometimes stylized as MAMAMOO, is a South Korean girl group formed by RBW (formerly WA
                                        Entertainment) in 2014. The group officially debuted on June 19, 2014 with the single "Mr. Ambiguous"</p>
                                </div>
                                <a href="#">Read More</a>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="single-news">
                        <div class="news-bg-3"></div>
                        <div class="news-date">
                            <h2><span>NOV</span> 12</h2>
                            <h1>2018</h1>
                        </div>
                        <div class="news-content">
                            <h2>Apink Comeback</h2>
                            <p>Apink (Korean: 에이핑크, Japanese: エーピンク; also written as A Pink) is a South Korean girl group formed by Plan A
                                Entertainment (formerly A Cube Entertainment</p>
                        </div>
                        <a href="#">Read More</a>
                    </div>
                </ng-template>
            </ngb-carousel> 
        </div>
        <!--<div class="news-thumb">
            <div class="news-next">
                <div class="single-news">
                    <div class="news-bg-3"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal
                            eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="news-prev">
                <div class="single-news">
                    <div class="news-bg-2"></div>
                    <div class="news-date">
                        <h2><span>NOV</span> 25</h2>
                        <h1>2017</h1>
                    </div>
                    <div class="news-content">
                        <h2>The Witch Queen</h2>
                        <p>Witch Queen is a tall woman with a slim build. She has pink hair, which is pulled up under her hat, and teal
                            eyes.</p>
                    </div>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>-->
    </div>
</section><!-- news section end -->

